.order-book-half {
  margin-bottom: 20px;
}



.order-book-table {
  width: 100%;
  border-collapse: collapse;

  /* Hover styles */
  & tr:hover {
    background-color: var(--table-header-hover-color);
    cursor: pointer;
  }

  th {
    padding: 10px;
    text-align: right;
    color: var(--table-header-text-color);
    font-weight: normal;

    &:first-child {
      text-align: left;
    }
  }

  td {
    padding: 10px;
    text-align: right;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }
  }
  
}

/* Animation for new quotes */
@keyframes flash-green {
  0% { background-color: var(--flash-green-color); }
  100% { background-color: transparent; }
}

@keyframes flash-red {
  0% { background-color: var(--flash-red-color); }
  100% { background-color: transparent; }
}

.new-quote-bid {
  animation: flash-green 1s ease-out;
}

.new-quote-ask {
  animation: flash-red 1s ease-out;
}

.size-increase {
  animation: flash-green 1s ease-out;
}

.size-decrease {
  animation: flash-red 1s ease-out;
}


.price {
  &.buy {
    color: var(--buy-text-color);
  }

  &.sell {
    color: var(--sell-text-color);
  }
}




.total-bar-container {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;


  .total-bar-bid {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--buy-accumulative-color);
    z-index: 1;
  }
  
  .total-bar-ask {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--sell-accumulative-color);
    z-index: 1;
  }
  
  & span {
    position: relative;
    z-index: 2;
  }
}



