:root {
  --background-color: #131B29;
  --text-color: #F0F4F8;
  --table-header-text-color: #8698aa;
  --buy-text-color: #00b15d;
  --sell-text-color: #FF5B5A;
  --table-header-hover-color: #1E3059;
  --buy-accumulative-color: rgba(16, 186, 104, 0.12);
  --sell-accumulative-color: rgba(255, 90, 90, 0.12);
  --flash-green-color: rgba(0, 177, 93, 0.5);
  --flash-red-color: rgba(255, 90, 90, 0.5);
}
