
.last-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;

  .icon {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}